{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pronosticos</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
  <link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.0.8/b-3.0.2/sp-2.3.1/sl-2.0.3/datatables.min.css"
    rel="stylesheet">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  <!--custom css-->
  <link href="{% static 'css/index.css' %}" rel="stylesheet">
</head>

<body class="light-mode">
  <!-- Botón para cambiar de modo -->
  <button id="mode-toggle">Modo Oscuro</button>


  <img class="mx-auto d-block" src="{% static '/imgs/logo_cogancevalle2.png' %}" alt="logo" style="width: 22%;">

  <div class="container">
    <div class="row my-4">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mx-auto">
        <div id="chart" class="chart"></div>
      </div>
    </div>
  </div>


  <div class="d-flex justify-content-center ">
    <div class="spinner-border" role="status" style="display: none;">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>



  <div class="d-flex justify-content-center p-3">
    <button id="send-data" class="btn btn-primary btn-md">Generar gráfica</button>
  </div>


  <!-- Botón para actualizar la tabla -->
  <div class="d-flex justify-content-center p-3">
    <button id="update-data" class="btn btn-warning btn-lg" type="button">Actualizar Datos</button>
  </div>


  <div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <button id="export-visible" class="btn btn-success btn-md mx-5" type="button"><i
        class="bi bi-file-earmark-spreadsheet"></i>
      Exportar datos filtrados</button>
    <button id="export-all" class="btn btn-success btn-md mx-5" type="button"> <i
        class="bi bi-file-earmark-spreadsheet"></i>
      Exportar Todos los datos</button>
  </div>

  <div class="buttons">
    <button id="cancel">Limpiar filtros</button>
  </div>

  <div class="filter-container">

    <div class="filter">
      <label for="item-search">ITEM</label>
      <input type="text" id="item-search" placeholder="Buscar...">

      <div class="select-options-items">
        <label><input type="checkbox" id="select-all-items"> (Seleccionar todo)</label>
        {% for item in items %}
        <label><input type="checkbox" value="{{ item }}">{{ item }}</label>
        {% endfor %}
      </div>
    </div>

    <div class="filter">
      <label for="proveedor-search">PROVEEDOR</label>
      <input type="text" id="proveedor-search" placeholder="Buscar...">

      <div class="select-options-proveedores">
        <label><input type="checkbox" id="select-all-proveedores"> (Seleccionar todo)</label>
        {% for proveedor in proveedores %}
        <label><input type="checkbox" value="{{ proveedor }}">{{ proveedor }}</label>
        {% endfor %}
      </div>
    </div>
    <div class="filter">
      <label for="producto-search">PRODUCTO</label>
      <input type="text" id="producto-search" placeholder="Buscar...">

      <div class="select-options-productos">
        <label><input type="checkbox" id="select-all-productos"> (Seleccionar todo)</label>
        {% for producto in productos %}
        <label><input type="checkbox" value="{{ producto }}">{{ producto }}</label>
        {% endfor %}
      </div>
    </div>
    <div class="filter">
      <label for="sede-search">SEDE</label>
      <input type="text" id="sede-search" placeholder="Buscar...">

      <div class="select-options-sedes">
        <label><input type="checkbox" id="select-all-sedes"> (Seleccionar todo)</label>
        {% for sede in sedes %}
        <label><input type="checkbox" value="{{ sede }}">{{ sede }}</label>
        {% endfor %}
      </div>
    </div>

  </div>

  <!-- botón de busqueda -->
  <div class="d-flex justify-content-center p-3">
    <button id="search" class="btn btn-primary btn-md">Buscar</button>
  </div>

   <!-- botón de mostrar datos -->
   <div class="d-flex justify-content-center p-3">
    <button id="show" class="btn btn-danger btn-md">mostrar datos</button>
  </div>

  <div class="container-xxl">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="table-responsive">
          <table id="datatable-productos" class="table table-bordered">
            <caption>Tabla de pronósticos</caption>
            <thead>
              <tr>
                <th class="centered">#</th>
                <th class="centered">ITEMS</th>
                <th class="centered">PROVEEDOR</th>
                <th class="centered">PRODUCTOS</th>
                <th class="centered">SEDE</th>
                <th class="centered">MAD</th>
                <th class="centered">MAPE</th>
                <th class="centered">MAPE'</th>
                <th class="centered">ECM</th>
                <th class="centered">PRONOSTICO</th>
                <th class="centered">PRONOSTICO 2 MESES</th>
                <th class="centered">PRONOSTICO SELECCIONADO</th>
              </tr>
            </thead>
            <tbody id="tableBody_productos"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="loader-container">
    <span id="loader" style="display: none;"></span>
  </div> -->


  <!-- apache Echarts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.5.0/echarts.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

  <script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.0.8/b-3.0.2/sp-2.3.1/sl-2.0.3/datatables.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>


  <!--custom js-->
  <script src="{% static 'js/index.js' %}"></script>
</body>

</html>