{% extends "presupuesto_nomina/base_tabla.html" %}
{% comment %}
  Tabla principal (datos definitivos).
  Toda la mecánica (tabla, filtros, edición, totales, exportación, guardado)
  vive en static/js/presupuesto_tabla.js. Aquí solo va la configuración.
{% endcomment %}

{% block titulo %}Presupuesto Nómina - Bonificaciones{% endblock %}

{% block barra %}
  {% include "presupuesto_nomina/_barra_principal.html" with texto_ir="Ir a la tabla auxiliar de bonificaciones" con_guardar=1 %}
{% endblock %}

{% block panel %}
  {% include "presupuesto_nomina/_panel_distribucion.html" %}
{% endblock %}

{% block datos %}
  {% if centros %}{{ centros|json_script:"opt-centros" }}{% endif %}
  {% if areas %}{{ areas|json_script:"opt-areas" }}{% endif %}
  {% if cargos %}{{ cargos|json_script:"opt-cargos" }}{% endif %}
{% endblock %}

{% block script %}
  const opciones = {
    centros: PT.listaJSON('opt-centros'),
    areas:   PT.listaJSON('opt-areas'),
    cargos:  PT.listaJSON('opt-cargos')
  };

  const tabla = new PT.TablaPresupuesto({
    montaje: '#tabla',
    urlDatos: "{% url 'obtener_presupuesto_bonificaciones' %}",
    columnas: PT.Columnas.estandar({ opciones: opciones }),
    editable: true,
    acciones: ['duplicar', 'eliminar'],
    seleccionable: true,
    nombreArchivo: 'bonificaciones'
  });

  PT.conectarBarra(tabla, {
    datos:  "{% url 'obtener_presupuesto_bonificaciones' %}",
    guardar: "{% url 'guardar_bonificaciones' %}",
    borrar: "{% url 'borrar_presupuesto_bonificaciones' %}",
    ir:     "{% url 'tabla_auxiliar_bonificaciones' %}",
    inicio: "{% url 'presupuestoNomina' %}"
  }, {
    distribuir: () => tabla.distribuir(PT.leerDistribucion())
  });
{% endblock %}
