# Entornos virtuales
venv
env

# archivos
bootstrap-5.3.0/
table_echart/
bootstrap-icons-1.11.3/

# Cachés de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de configuración del entorno
*.env
*.venv
*.envrc
.env

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos de logs
*.log

# Archivos de bases de datos
*.sqlite3

# Archivos de empaquetado
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
__pypackages__/

# Archivos de cobertura de pruebas
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Archivos de distribución
*.manifest
*.spec

# Archivos de Jupyter Notebook
.ipynb_checkpoints/

# Archivos de sistema
.DS_Store
Thumbs.db