{% extends "base.html" %} 
{% load static %}
{% block title %}Tareas{% endblock %}
{% block css %}
<link href="{% static 'conteoApp/css/conteoApp.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container">
    <form method="post" id="assign_delete_activate_form">
        {% csrf_token %}
        <div class = "dropdown">
            <h4 style="max-width:350px">Asignar o eliminar productos</h4>
            <input type="text" id="searchInput" class="search-box" placeholder="Buscar usuarios...">
                <div id="checkboxList" class="dropdown-content">
                    {% for usuario in usuarios %}
                        <label><input type="checkbox" name="usuarios" value="{{ usuario.id }}"> {{ usuario.first_name }} {{usuario.last_name}}</label>
                    {% endfor %}
                </div>
            <button type="submit" name="assign_task" id="assignButton" class="button-generic">Asignar Tareas</button>
            <button type="button" name="delete_task" id="openConfirmModal" class="button-generic">Deshacer tareas</button>
        </div>
    </form>

    <form method="post" id="filter_users_form">
        {% csrf_token %}
        <div class = "dropdown">
            <h3 style="max-width:350px">Historial</h3>
            <p style="max-width:350px; font-size:15px">Seleccione usuarios para buscar el historico de tareas asignadas</p>
            <input type="text" id="searchInput_homework" class="search-box" placeholder="Buscar usuarios...">
                <div id="checkboxList_homework" class="dropdown-content">
                    {% for usuario in usuarios %}
                        <label><input type="checkbox" name="usuarios" value="{{ usuario.id }}"> {{ usuario.first_name }} {{usuario.last_name}}</label>
                    {% endfor %}
                </div>
                <!-- Campo de selección de fecha -->
                <label for="fecha_asignacion">Selecciona una fecha:</label>
                <input type="date" id="fecha_asignacion" name="fecha_asignacion" required>
            <button name="filter_users" class="button-generic">Filtrar tareas</button>
        </div>
    </form>

    <!-- Modal de alerta personalizado -->
    <div id="customAlert" class="modal">
        <div class="modal-content">
            <p id="alertMessage">Por favor, selecciona al menos un usuario.</p>
            <button class="buttonModal" id="closeAlert">Aceptar</button>
        </div>
    </div>

    <!-- Modal de confirmación de eliminación de tareas -->
    <div id="confirmModal" class="modal">
        <div class="modal-content">
            <p>¿Estás seguro de que deseas eliminar las tareas seleccionadas?</p>
            <button class="buttonModal" id="confirmDelete">Sí</button>
            <button class="buttonModalClose" id="cancelDelete">No</button>
        </div>
    </div>

    <!-- Modal de procesamiento -->
    <div id="processingModal" class="modal">
        <div class="modal-content">
            <p>Procesando...</p>
        </div>
    </div>
</div>

<div>
    <p>Total productos disponibles: {{ total_tareas_hoy }}</p>
    <h3>Usuarios con productos asignados para hoy</h3>
    <ul>
        {% for usuario in usuarios_con_tareas %}
        <form method="post">
            <li>{{ usuario.usuario__first_name }} {{usuario.usuario__last_name}}: {{ usuario.total_tareas}} 
                {%csrf_token%}
                <input type="hidden" name="usuario_id" value="{{ usuario.usuario__id }}">
                <button class="button-view-task" name="view_user_tasks">Diferencias</button>
                {% comment %} <button class="button-reconteo" name="reconteo">Reconteo</button> {% endcomment %}
            </li> 
        </form>
        {% endfor %}
    </ul>
    {% for usuario in usuarios_con_tareas %}
    <form method="post">
        {%csrf_token%}
        <input type="hidden" name="usuario_id" value="{{ usuario.usuario__id }}">
        <p>Total tareas: {{ total_tareas_usuarios }}
            <button class="button-view-task" name="view_all_tasks" title="ver todas las tareas">ver todo</button>
            {% comment %} <button class="button-generic" name="view_all_user_tasks" title="ver todas las diferencias de los contadores">ver todas las diferencias</button> {% endcomment %}
        </p>
    </form>
    {% endfor %}
</div>

{% if tareas %}
    {% if cant_tareas_por_usuario %}
        <h4>Tareas asignadas al usuario filtrado</h4>
        <ul>
            {% for usuario in cant_tareas_por_usuario %}
                <li>{{ usuario.usuario__first_name }} {{usuario.usuario__last_name}}: {{ usuario.total_tareas }} tareas</li>
            {% endfor %}
        </ul>
    {% endif %}

<form method="post">
    {% csrf_token %} 
    <button type="submit" name="export_excel" class="button-generic">Exportar todo</button>
    {% comment %} <button type="submit" name="export_excel_diferencias" class="button-generic">Exportar diferencias</button> {% endcomment %}
</form>

<!-- Tabla de Tareas -->
<form method="post">
    {% csrf_token %}
    
<div class="table-container">
    <table id = "myTable">
        <thead>
            <tr>
                <th onclick="sortTable(0)">PROVEEDOR</th>
                <th onclick="sortTable(1)">ITEM</th>
                <th onclick="sortTable(2)">PRODUCTO</th>
                <th onclick="sortTable(3)">FECHA VENCE</th>
                <th onclick="sortTable(4)">EXISTENCIA</th>
                <th onclick="sortTable(5)">CONTEO</th>
                <th onclick="sortTable(6)">VALOR_UNIT</th>
                <th onclick="sortTable(7)">DIFERENCIAS</th>
                <th onclick="sortTable(8)">CONSOLIDADO</th>
                <th onclick="sortTable(9)">OBSERVACION</th>
            </tr>
        </thead>
        <tbody>
            {% for tarea in tareas %}
                <tr>
                    <td>{{ tarea.producto.marnombre }}</td>
                    <td>{{ tarea.producto.mcnproduct }}</td>
                    <td>{{ tarea.producto.pronombre }}</td>
                    <td>{{ tarea.producto.fecvence }}</td>
                    <td>{{ tarea.producto.saldo }}</td>
                    <td>{{ tarea.conteo }}</td>
                    <td>{{ tarea.producto.vrunit }}</td>
                    <td>{{ tarea.diferencia }}</td>
                    <td>{{ tarea.consolidado }}</td>
                    <td>{{ tarea.observacion }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</form>
{% else %}
<h4>No hay diferencias</h4>
{% endif %}

{% endblock %}

{% block js %}
<script src="{% static 'conteoApp/js/conteoApp.js' %}"></script>
{% endblock %}