{% extends "base.html" %} 
{% load static %}
{% block title %}Tareas{% endblock %}
{% block css %}
<link href="{% static 'conteoApp/css/conteoApp.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container">
    <form method="post" id="assign_delete_activate_form">
        {% csrf_token %}
        <div class = "dropdown">
            <h4 style="max-width:350px">Asignar o eliminar productos</h4>
            <input type="text" id="searchInput" class="search-box" placeholder="Buscar usuarios...">
                <div id="checkboxList" class="dropdown-content">
                    {% for usuario in usuarios %}
                        <label><input type="checkbox" name="usuarios" value="{{ usuario.id }}"> {{ usuario.first_name }} {{usuario.last_name}}</label>
                    {% endfor %}
                </div>
            <button type="submit" name="assign_task" id="assignButton" class="button-generic">Asignar Tareas</button>
            <button type="button" name="delete_task" id="openConfirmModal" class="button-generic">Deshacer todas las tareas</button>
        </div>
    </form>

    <form method="post" id="filter_users_form">
        {% csrf_token %}
        <div class = "dropdown">
            <h3 style="max-width:350px">Historial</h3>
            <p style="max-width:350px; font-size:15px">Seleccione usuarios para buscar el historico de tareas asignadas</p>
            <input type="text" id="searchInput_homework" class="search-box" placeholder="Buscar usuarios...">
                <div id="checkboxList_homework" class="dropdown-content">
                    {% for usuario in usuarios %}
                        <label><input type="checkbox" name="usuarios" value="{{ usuario.id }}"> {{ usuario.first_name }} {{usuario.last_name}}</label>
                    {% endfor %}
                </div>
                <!-- Campo de selección de fecha -->
                <label for="fecha_asignacion">Selecciona una fecha:</label>
                <input type="date" id="fecha_asignacion" name="fecha_asignacion" required>
            <button name="filter_users" class="button-generic">Filtrar tareas</button>
        </div>
    </form>

    <!-- Modal de alerta personalizado -->
    <div id="customAlert" class="modal">
        <div class="modal-content">
            <p id="alertMessage">Por favor, selecciona al menos un usuario.</p>
            <button class="buttonModal" id="closeAlert">Aceptar</button>
        </div>
    </div>

    <!-- Modal de confirmación de eliminación de tareas -->
    <div id="confirmModal" class="modal">
        <div class="modal-content">
            <p>¿Estás seguro de que deseas eliminar las tareas seleccionadas?</p>
            <button class="buttonModal" id="confirmDelete">Sí</button>
            <button class="buttonModalClose" id="cancelDelete">No</button>
        </div>
    </div>

    <!-- Modal de procesamiento -->
    <div id="processingModal" class="modal">
        <div class="modal-content">
            <p>Procesando...</p>
        </div>
    </div>
</div>

<div>
    <p>Total productos disponibles: {{ total_tareas_hoy }}</p>
    <h3>Usuarios con productos asignados para hoy</h3>
    <ul>
        {% for usuario in usuarios_con_tareas %}
        <form method="post">
            <li>{{ usuario.usuario__first_name }} {{usuario.usuario__last_name}}: {{ usuario.total_tareas}} 
                {%csrf_token%}
                <input type="hidden" name="usuario_id" value="{{ usuario.usuario__id }}">
                <button class="button-view-task" name="view_user_tasks">Diferencias</button>
            </li> 
        </form>
        {% endfor %}
    </ul>
    {% comment %} {% for usuario in usuarios_con_tareas %} {% endcomment %}
    <form method="post">
        {%csrf_token%}
        {% comment %} <input type="hidden" name="usuario_id" value="{{ usuario.usuario__id }}"> {% endcomment %}
        <p>Total tareas: {{ total_tareas_usuarios }}
            <button class="button-view-task" name="view_all_tasks" title="ver todas las tareas">ver todo</button>
            <button class="button-view-task" name="view_all_user_tasks" title="ver todas las diferencias de los contadores">ver todas las diferencias</button>
        </p>
    </form>
    {% comment %} {% endfor %} {% endcomment %}
</div>

{% if tareas %}
    {% if cant_tareas_por_usuario %}
        <h4>Tareas asignadas al usuario filtrado</h4>
        <ul>
            {% for usuario in cant_tareas_por_usuario %}
                <li>{{ usuario.usuario__first_name }} {{usuario.usuario__last_name}}: {{ usuario.total_tareas }} tareas</li>
            {% endfor %}
        </ul>
    {% endif %}

<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
    <div>
        <form method="post">
            {% csrf_token %} 
            {% if mostrar_exportar_todo %}
                <button type="submit" name="export_excel" class="button-generic">Exportar todo</button>
            {% endif %}
            <button type="submit" name="export_excel_diferencias" class="button-generic">Exportar diferencias</button>
        </form>
    </div>
    <div>
        <form method="post">
            {% csrf_token %}
            <button type="submit" name="ver_no_verificados" class="button-generic">Ver productos no verificados</button>
        </form>
    </div>
</div>


<!-- Tabla de Tareas -->
<form method="post">
    {% csrf_token %}
    
<div class="table-container">
    <table id = "table-tareas">
        <thead>
            <tr>
                <th onclick="sortTableById('table-tareas', 0)">PROVEEDOR</th>
                <th onclick="sortTableById('table-tareas', 1)">ITEM</th>
                <th onclick="sortTableById('table-tareas', 2)">PRODUCTO</th>
                <th onclick="sortTableById('table-tareas', 3)">FECHA VENCE</th>
                <th onclick="sortTableById('table-tareas', 4)">EXISTENCIA</th>
                <th onclick="sortTableById('table-tareas', 5)">CONTEO</th>
                <th onclick="sortTableById('table-tareas', 6)">VALOR_UNIT</th>
                <th onclick="sortTableById('table-tareas', 7)">DIFERENCIAS</th>
                <th onclick="sortTableById('table-tareas', 8)">CONSOLIDADO</th>
                <th onclick="sortTableById('table-tareas', 9)">OBSERVACION</th>
                <th onclick="sortTableById('table-tareas', 10)">VERIFICADO</th>
            </tr>
        </thead>
        <tbody>
            {% for tarea in tareas %}
                <tr>
                    <td>{{ tarea.producto.marca_nom }}</td>
                    <td>{{ tarea.producto.sku }}</td>
                    <td>{{ tarea.producto.sku_nom }}</td>
                    <td>{{ tarea.producto.lpt }}</td>
                    <td>{{ tarea.producto.inv_saldo }}</td>
                    <td>{{ tarea.conteo|default_if_none:'' }}</td>
                    <td>{{ tarea.producto.vlr_unit }}</td>
                    <td>{{ tarea.diferencia|default_if_none:'' }}</td>
                    <td>{{ tarea.consolidado }}</td>
                    <td>{{ tarea.observacion }}</td>
                    <td class="checkbox-cell">
                        <input type="checkbox" class="verificado-check" data-id="{{ tarea.id }}" {% if tarea.verificado %}checked{% endif %}>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</form>
{% else %}
<h4>No hay diferencias</h4>
{% endif %}

{% endblock %}

{% block js %}
<script>
    const toggleVerificadoURL = "{% url 'toggle_verificado' %}";
</script>
<script src="{% static 'conteoApp/js/conteoApp.js' %}"></script>
{% endblock %}