{% extends "base.html" %} 
{% load static %}
{% block title %}Tareas{% endblock %}
{% block css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<link href="{% static 'conteoApp/css/conteoApp.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% comment %} <h1>Seleccionar Usuarios</h1>
<form method="post">
    {% csrf_token %}
    <div>
        {{ form.users.label_tag }}<br>
        {{ form.users }}
    </div>
    <button type="submit" name="filter_users">Ver usuarios</button>
</form> {% endcomment %}

{% if tareas %}
    <h2>Mis Tareas</h2>
    
{% comment %} {% if usuarios_con_tareas %}
    <h2>Tareas por Usuario</h2>
    <ul>
        {% for usuario in usuarios_con_tareas %}
            <li>{{ usuario.usuario__username }}: {{ usuario.total_tareas }} tareas</li>
        {% endfor %}
    </ul>
{% endif %} {% endcomment %}


<!-- Tabla de Tareas -->
<form method="post">
    {% csrf_token %}
<button type="submit" name="update_tarea">Actualizar Tarea</button>
<div class="table-container">
    <table id = "myTable">
        <thead>
            <tr>
                <th onclick="sortTable(0)">PROVEEDOR</th>
                <th onclick="sortTable(1)">ITEM</th>
                <th onclick="sortTable(2)">PRODUCTO</th>
                <th onclick="sortTable(3)">FECHA VENCE</th>
                <th onclick="sortTable(4)">CONTEO</th>
                <th onclick="sortTable(5)">OBSERVACION</th>
            </tr>
        </thead>
        <tbody>
            {% for tarea in tareas %}
                <tr>
                    <td>{{ tarea.producto.marnombre }}</td>
                    <td>{{ tarea.producto.mcnproduct}}</td>
                    <td>{{ tarea.producto.pronombre}}</td>
                    <td>{{ tarea.producto.fecvence }}</td>
                    <td><input type="number" name="conteo_{{ tarea.id }}" value="{{ tarea.conteo }}" min="0"></td>
                    <td><input type="text" name="observacion_{{ tarea.id }}" value="{{ tarea.observacion }}"></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</form>
{% else %}
<p>Selecciona usuarios para ver sus tareas asignadas.</p>
{% endif %}

{% endblock %}

{% block js %}
<script src="{% static 'conteoApp/js/conteoApp.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script>
    // Activate select2 on the multiple select field
    $(document).ready(function() {
        $('.select2').select2({
            placeholder: 'Search for a user...',
            allowClear: true
        });
    });
</script>
{% endblock %}