{% extends "base.html" %} 
{% load static %}
{% block title %}Tareas{% endblock %}
{% block css %}
<link href="{% static 'conteoApp/css/conteoApp.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<h2>Mis Tareas</h2>
{% if tareas %}
<button type="button" name="update_tarea" id="update-tarea" class="button-generic">Actualizar conteo</button>
<!-- Tabla de Tareas -->
<form method="post" id="form-tareas">
    {% csrf_token %}
<div class="table-container">
    <table id = "myTable">
        <thead>
            <tr>
                <th onclick="sortTable(0)">PROVEEDOR</th>
                <th onclick="sortTable(1)">ITEM</th>
                <th onclick="sortTable(2)">PRODUCTO</th>
                <th onclick="sortTable(3)">FECHA VENCE</th>
                <th onclick="sortTable(4)">CONTEO</th>
                <th onclick="sortTable(5)">OBSERVACION</th>
            </tr>
        </thead>
        <tbody>
            {% for tarea in tareas %}
                <tr>
                    <td>{{ tarea.producto.marnombre }}</td>
                    <td>{{ tarea.producto.mcnproduct}}</td>
                    <td>{{ tarea.producto.pronombre}}</td>
                    <td>{{ tarea.producto.fecvence }}</td>
                    <td><input id="input-conteo" class="input-conteo" type="number" name="conteo_{{ tarea.id }}" value="{{ tarea.conteo }}" min="0"></td>
                    <td><textarea id="textarea-observacion" class="input-observacion" type="text" name="observacion_{{ tarea.id }}">{{ tarea.observacion }}</textarea></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Modal de procesamiento -->
    <div id="processingModal" class="modal">
        <div class="modal-content">
            <p>Procesando...</p>
        </div>
    </div>
</div>
</form>

{% else %}
<p>No hay tareas asignadas para hoy</p>
{% endif %}

{% endblock %}

{% block js %}
<script src="{% static 'conteoApp/js/conteoApp.js' %}"></script>
{% endblock %}