<table border="1">
    <thead>
        <tr>
            <th>#</th>
            <th>Cuenta</th>
            <th>Descripción</th>
            <th>Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>5001</td>
            <td>Ingresos Operacionales</td>
            <td>$10,000,000</td>
        </tr>
        <tr>
            <td>2</td>
            <td>5002</td>
            <td>Gastos Administrativos</td>
            <td>$2,500,000</td>
        </tr>
        <tr>
            <td>3</td>
            <td>5003</td>
            <td>Gastos de Ventas</td>
            <td>$1,200,000</td>
        </tr>
    </tbody>
</table>