{% extends "presupuesto_nomina/base_tabla.html" %}
{% comment %}
  Tabla auxiliar (datos temporales de trabajo).
  Toda la mecánica (tabla, filtros, edición, totales, exportación, guardado)
  vive en static/js/presupuesto_tabla.js. Aquí solo va la configuración.
{% endcomment %}

{% block titulo %}Tabla auxiliar - Bonificaciones foco{% endblock %}

{% block barra %}
  {% include "presupuesto_nomina/_barra_auxiliar.html" with texto_subir="Subir presupuesto de bonificaciones foco" %}
{% endblock %}

{% block datos %}
  {% if centros %}{{ centros|json_script:"opt-centros" }}{% endif %}
  {% if areas %}{{ areas|json_script:"opt-areas" }}{% endif %}
  {% if cargos %}{{ cargos|json_script:"opt-cargos" }}{% endif %}
{% endblock %}

{% block script %}
  const opciones = {
    centros: PT.listaJSON('opt-centros'),
    areas:   PT.listaJSON('opt-areas'),
    cargos:  PT.listaJSON('opt-cargos')
  };

  const tabla = new PT.TablaPresupuesto({
    montaje: '#tabla',
    urlDatos: "{% url 'obtener_bonificaciones_foco_temp' %}",
    columnas: PT.Columnas.estandar({ cargo: false, opciones: opciones }),
    acciones: ['duplicar', 'eliminar'],
    nombreArchivo: 'aux_bonificaciones_foco'
  });

  PT.conectarBarra(tabla, {
    datos:       "{% url 'obtener_bonificaciones_foco_temp' %}",
    cargarBase:  "{% url 'cargar_bonificaciones_foco_base' %}",
    guardarTemp: "{% url 'guardar_bonificaciones_foco_temp' %}",
    subir:       "{% url 'subir_presupuesto_bonificaciones_foco' %}",
    ir:          "{% url 'bonificaciones_foco' %}",
    inicio:      "{% url 'presupuestoNomina' %}"
  });
{% endblock %}
