{% load static %}
<nav class="navbar">
    <div class="navbar-left">
      <img src="{% static '/img/logo_cogancevalle.png' %}" alt="Logo" class="logo">
    {% if user.is_authenticated %}
      <a href="{% url 'dashboard' %}">Pronosticos</a>
      <a href="{% url 'lista_tareas' %}">Tareas asignadas</a>
      <a href="{% url 'asignar_tareas' %}">Asignar tarea</a>
    {% endif %}
    </div>

    <div class="navbar-right">
      {% if user.is_authenticated %}
      Hola, {{ user.first_name }} {{ user.last_name }}
      <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary">Cerrar Sesión</button>
      </form>
        
      {% endif %}
    </div>
    
  </nav>
